@media screen and (min-width: 1440px)
{
    .whoweare
    {
      padding-bottom: 100px;
    }
    .middiv
    {
      padding-top: 130px;
    }
    .imagediv img
    {
      width: 550px;
      height: 444px;
      border-radius: 10px;  
    }
    .middiv2 .carousel
    {
        width: 800px;
        height: 450px;
    }
    .middiv2 .carousel-inner
    {
        width: 800px;
        height: 450px;
    }
    .middiv2 .carousel-item
    {
      width: 800px;
      height: 450px;
    }
    .carousel-indicators
    {
      transform: translate(-190px,-330px);
    }
    .middiv2 
    {
      padding-left: 250px;
      width: 800px;
      height: 450px;
    }

      @keyframes animate {
          0%,15%{
            opacity: 0.2;
            transform: translateX(550px) scale(0.7);
            pointer-events: none;
          }
          20%, 35%{
            opacity: 0.6;
            transform: translateX(300px) scale(0.9);
            pointer-events: none;
          }
          40%, 55%{
            opacity: 1;
            pointer-events: auto;
            transform: translateX(0px) scale(1.1);
          }
        
          60%, 75%{
            opacity: 0.6;
            transform: translateX(-300px) scale(0.9);
            pointer-events: none;
          }
          80%, 95%{
            opacity: 0.2;
            transform: translateX(-550px) scale(0.7);
            pointer-events: none;
          }
        }
        .whatwedo
        {
          padding-top: 130px;
          padding-bottom: 100px;
        }
        .lean
        {
          width: 320px;
          height: 210px;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 60px;
        }

        .lean img
        {
          transform: translateY(-8px);
        }
        .leftone 
        {
            width: 600px;
            height: auto;
        }
        .howwedo
        {
          padding-top:130px;
        }
        .whyus
        {
          padding-top: 130px;
        }
        .leanright
        {
          padding-left: 40px;
          padding-top: 40px;
        }
        .testimonial
        {
          padding-top: 130px;
          padding-bottom: 100px;
        }
        .whyus{padding-bottom: 100px;}
        .whyus .l1
        {
          width: 500px;
          height: 515px;
        }
        .icondata img
        {
          width: 500px;
          height: 515px;
        }
        .icon
        {
          margin-top:100;
        }
        @keyframes animate1 {
          0%,12%{
            transform: translateY(0px);
            pointer-events: auto;
            background: rgba(167, 214, 225, 0.3);
          }
          16.6%, 28.6%{
            transform: translate(250px,-100px);
            pointer-events: none;
            background: transparent;
          }
          33.2%, 45.2%{
            pointer-events: none;
            transform: translate(500px);
          }
        
          49.8%, 61.8%{
            transform: translate(500px,250px);
            pointer-events: none;
          }
          66.4%, 78.4%{
              transform: translate(250px,350px);
              pointer-events: none;
          }
          83%, 95%{
            transform: translateY(250px);
            pointer-events: none;
          }
        }
        .testmiddiv
        {
            width: 1540px;
        }
        .testimonial .carousel
        {
            width: 1540px;
        }
        .testimonial .carousel-inner
        {
            width: 1540px;
        }

        .behindthescene
        {
          padding-top: 130px;
        }
} 